table {
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;  
    background-color: black;
}

input[type="button"] {
    width: 100%;  
    padding: 20px 40px;
    background-color: darkblue;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 1px solid white;
}

input[type="button"]:hover {
    background-color: green; 
}

input[type="text"] {
    width: 100%;  
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid white;
    box-sizing: border-box;  
}

td {
    padding: 2px; 
    flex: 1;
}

tr {
    display: flex;
}

.header {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-color: antiquewhite;
}
